* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row {
    height: 150px;
    width: 1100px;
    margin-left: -8px;
    margin-right: -8px;
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third {
    width: 33.33333%;
    display: inline-block;
}
.col-four {
    width: 23%;
}
.col-five {
    width: 18%;
}
.box-shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
#contact {
    width: 100%;
    height: 36px;
    background-color: #a6635d;
}
.container_contact {
    width: 1100px;
    height: 36px;
    margin: 0 auto;
}
#contact ul {
    padding-top: 8px;
}
#contact ul li {
    list-style: none;
    display: inline;
    font-size: 14px;
    color: #e1c3c4;
}
#contact i{
    font-size: 12px;
    padding-right: 10px;
}
#contact span {
    padding-right: 10px;
}
.contact_right {
    float: right;
}

header {
    width: 100%;
    height: 100px;
    background-color: #aa7773;
}
#header-container {
    width: 1100px;
    height: 100%;
    display: inline-block;
    margin: 0 216px;
}
header div {
    float: left;
}
#header-container .logo {
    font-size: 28px;
    line-height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 150px;
}
#header-container div i {
    font-size: 24px;
    padding-top: 10px;
}
#header-container div p {
    text-transform: uppercase;
    padding-top: 10px;
}

#header-container  {
    color: rgb(235, 229, 229);
} 
#header-container div {
    margin: 10px ;
}
#header-container div i {
    margin: 0 30px;
}
#header-container .header-back > i{
    line-height: 34px;
}
#header-container .header-search{
    margin-top: 30px;
    margin-left: 70px;
} 
#header-container .header-search i {
    font-size: 18px;
}
#header-container .header-cart i{
    margin-left: -10px;
    font-size: 20px;
    vertical-align: middle;
    line-height: 60px;
    float: left;
}

.image {
    width: 100%;
    height: 600px;
    position: relative;
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image .image-content {
    position: absolute;
    z-index: 1 ;
    top: 20px;
    text-align: center;
    object-fit: contain;
}
.image .image-content .title {
    text-transform:unset;
    font-size: 60px;
    width: 100%;
    margin: 0 260px;
    font-weight: 100;
    font-style: italic;
    color: #aa7773;
}
.image .image-content .image-logo {
    padding-left: 558px;
    justify-content: center;
    color: #aa7773;
    font-size: 28px;
}
.content {
    display: inline-block;
    width: 1200px;
    height: auto;
    margin: 0 200px;
}
.content .wrapper {
    float: left;
    transform: translateY(-10%);    
    border-bottom: 1px solid #ccc;
    height: 500px;

}
.content .wrapper img {
    border: 10px solid white;
    object-fit: cover;
}
.content .wrapper i {
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 30px;
}
.content .wrapper .texts1 {
    float: right;
    font-size: 12px;
    line-height: 20px;
    margin-right: 60px;
}

.content .classify {
    text-align: center;
    font-size: 14px;
    margin: 10px;
    
}
.content .classify h2 ,h3 {
    margin-bottom: 20px;
    color: #a6635d;
}
.content .classify h2 {
    color: #a1544d;
}
.content .classify h4 {
    text-align: center;
    width: 150px;
    border-bottom: 4px solid #a6635d; ;
    margin: 0 auto;
}

.option {
    margin-top: 50px;
}
.option ul {
    width: 100%;
    
}
.option ul li{
    float: left;
    display: inline-block;
    margin:5px;
    list-style: none;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}
.option img {
    width: 120px;
    height: 200px;
    padding-bottom: 10px;
    
}
.option h1 {
    color: rgb(58, 103, 215);
    margin-right: 6px;
    font-size: 14px;
    padding-bottom: 10px;
}
.option  h2 {
    color: #a1544d;
    font-size: 14px;
}
.option h2 del {
    color: #a6635d;
    opacity: 0.6;
}

.sale {
    padding: 12px;
    background-color: #a1544d;
    color: #ccc;
    position: absolute;
    border-radius: 50%;
    top: 0px;
    font-size: 14px;
}

.list-option {
    text-align: center;
    display: block;
}

.list-option  h2 {
    margin: 10px;
    border: 1px solid #a6635d;
    list-style: none;
    padding: 10px;
    color: #a1544d;
    display: flex;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.image-introduce {
    width: 100vw;
    height: 500px;
    margin-left: -200px;
    object-fit: cover;
    margin-bottom: 40px;
}
.sub-spacing {
    float: left;
    margin-left: 520px;
    margin-right: 200px;
}
.places img {
    width: 100%;
    height: 300px;
    margin-right: 5px;
}
.places {
    width: 270px;
    height: 450px;
    transition: translateX(50%);
    float: left;
    margin-right: -10px;
    margin-left: 15px;
    margin-bottom: 40px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    display: block;
    overflow: hidden;
    background-color: rgb(234, 228, 228);
    border-radius: 8px;
}
.new-places h2 {
    background-color: rgb(244, 238, 238);
    text-transform: uppercase;

}
footer {
    width: 100vw;
    height: 500px;
    background-color: #a1544d;
    display: inline-block;
    margin: 0 auto;
    justify-content: center;
}
.footer-web {
    float: left;
    font-size: 14px;
    margin-left: 210px;
}
.policy {
    margin-right: 100px;
}
